@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
html{

    /* @media (min-width:768px) {
         
    } */
}
main{
    background:linear-gradient(180deg,#0b0f19,#301934);
    /* max-width: 1100px; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}
body{
    background-color: #070908;
    color: #f3f4f6;
    margin:0;
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.Header{
    background-color:rgba(11, 15, 25, 0.8);
     background:linear-gradient(180deg,#301934,#0b0f19);
    backdrop-filter: blur(12px);
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1.5rem 5%;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}
.nav{
    display: flex;
    gap: 2rem;
    background: transparent;
    color: crimson;
    margin-top: 1rem;
}
.nav a[href="contact.html"]{
    order:+4;
}
.nav a {
    color: #9ca3af;
    text-decoration: none;
    transition: color 0.3s ease;
}
.nav a:hover {
    color: #6366f1;
}
#heading{
    font-weight: bolder;
    font-style: italic;
    color: darkslategrey;
}
#textblock{
    color: slategray;
    font-weight: bolder;
    font-size: large;
    font-style:italic ;
    padding: 10px;
}
#Aboutme,#Abouttable,#Homeform,#Contactform,#Projecttable,
#Mygoal,#Myhobby,#home-text-me{
    background-color: rgba(22,28,45,0.6);
    border-radius: 16px;
    color:#e5e7eb;
    padding:5px;
}
#about-local-video,#about-local-audio,#about-iframe,#Footer-image,#Profile-image{
    border: 1px solid rgba(255,255,255,0.1);
    border-radius: 12px;
}
#Projecttable,#Abouttable{
    text-align:center;
    margin: 0 auto ;
    padding: 20px;
    border-collapse: collapse;
    width: 100%;
}
th,td{
      border: 1px solid slategrey;
      padding: 5px;
}
.legend{
    color: slateblue;
    font-style: italic;
    font-size: 50px;
}
#Contactform{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#Profile{
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin: 20px 0;
}
#home-text-me{
    padding: 2rem;
}
.gradient-test{
    background: linear-gradient(90deg, red,blue,green,cornsilk ,wheat,black);
}
.block-demo{
    display:block;
    background-color: #6366f1;
}
.inline-demo{
    display: inline;
    background-color: aqua;
    width:150px ;
}
.inlineblock-demo{
    display: inline-block;
    background-color: rgb(4, 155, 155);
    width: 300px;
}
.input{
    background-color: #0b0f19;
    color: whitesmoke;
    font-size: 30px;

}
.footer-image{
    border-radius: 20px;
}
footer{
    padding-top: 50px;
}
.smalltext{
    font-size: 30px;
}
.demo{
    font-size: 50px;
}